{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true
        }
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": ["react-hot-loader/babel"],
  "env": {
    "production": {
      "presets": ["minify"]
    }
  }
}
