[
  {
    "name": "Trade-agents",
    "path": "C:\\DB",
    "port": 3650
  },
  {
    "name": "Otves",
    "path": "C:\\DB",
    "port": 3649
  },
  {
    "name": "Inventory",
    "path": "C:\\DB",
    "port": 3649
  }
]
