$bg-color: yellow;
$border-color: red;

.App {
  margin-top: 25px;
}


h2,
h3,
h4 {
  text-align: center;
}

span[role='img'] {
  color: red;
}

.true {
  text-decoration: line-through;
}

.hideaction {
  display: none;
}
