node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
.git
web-build/
web-report/

# macOS
.DS_Store

# Reactotron
./src/service/ReactotronConfig.ts

*/log/*

yarn-error.log