$xxxs: 340px;
$xxs: 400px;
$xs: 586px;
$sm: 768px;
$md: 884px;
$desktop: 920px;
$lg: 1200px;

/* $breakpoints: (xxxs: $xxxs,
  xxs: $xxs,
  xs: $xs,
  sm: $sm,
  md: $md,
  lg: $lg,
  desktop: $desktop);
 */
