{
  "server": {
    "protocol": "http://", // Протокол сервера (например, 'http://' или 'https://')
    "name": "localhost", // Имя сервера, на котором запущено приложение
    "port": 8080 // Порт сервера, который будет использоваться для обмена данными с приложением
  }
}
